@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes zoomIn_s {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.005);
    }
}

@keyframes zoomIn_m {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.button {
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.button:hover {
    background-color: #007bff;
    color: white;
}

.button_selected {
    background-color: #007bff;
    color: white;
    border: solid 3px #000000;
}

.btn_goTop{
    position: fixed;
    right: 88px;
    top: 88px;
    background-color: #007bff;
    color: #fff;
    padding: 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
    transition: transform 0.3s ease-in-out;
}

.btn_goTop:hover{
    animation: zoomIn_m 0.3s forwards;

    background-color: #ccc;
    color: #000000;
    
}

.assignment_header{
    position: relative;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    right: 0px;
    padding-bottom: 8px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_content{
    font-size: 12px;
    text-align: start;
    color: rgb(204, 204, 204);
}

.item_content-header{
    text-align: start;
    flex-grow: 1
}

.AItem{
    display: flex;
    height: 84px;
    width: 100%;
}


.AItem:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: zoomIn_s 0.3s forwards;
}

.AItem_content{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    flex-grow: 1;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-8{
    margin-top: 8px;
}

.mr-62{
    margin-right: 62px;
}

.mr-8{
    margin-right: 8px;
}

.ml-2{
    margin-left: 2px;
}

.fs-16{
    font-size: 16px;
}

input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

input:focus {
    border-color: #4a90e2;
    box-shadow: 2px 2px 12px rgba(74, 144, 226, 0.5);
}


.filter{
    transition: transform 0.3s ease-in-out;
}

.filter:hover{
    animation: zoomIn 0.3s forwards;
    color: #007bff;
    cursor: pointer;
}

.success{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #068506ad;
    padding: 3px;
    border-radius: 4px;
    background-color: #56ac5629;
}

.disable{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9291919c;
    padding: 3px;
    border-radius: 4px;
    background-color: #9291913d;
}
  
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
  
}

.modal_container{
    background-color: #fff;
    width: 340px;
    display: flex;
    right: 0;
    position: absolute;
    top: 47px;
    flex-direction: column;
    bottom: 0;
    transform: translateX(150px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.modal.open {
    display: block;
}

.modal.open .modal_container{
    transform: translateX(0);
    opacity: 1 !important;
}

.hidden{
    transform: translateX(100%);
    opacity: 0;
}


.filter_header{
    padding: 16px;
    font-weight: 600;
    font-size: 22px;
}

.filter_body{
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex-grow: 1;
}

.filter_body label{
    color: #ccc;
}

.filter_footer{
    padding: 16px;
    position: relative;
}

.filter_footer button{
    position: absolute;
    right: 16px;
    bottom: 16px;
}

